body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  min-width: 1200px;
  color: #fff;
  background-color: #849d8f;
  background-position: center top;
  background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/1slide.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image .5s ease, background-color .5s ease;
  transition: background-image .5s ease, background-color .5s ease;
}

.container,
.container-box-catalog {
  padding: 0 27px;
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation,
.submenu,
.products-line-list,
.features-list,
.social,
.info-link,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.main-header {
  padding: 9px 0 0;
}

.gllacy-logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 8px;
}

.gllacy-logo img {
  width: 154px;
  height: 64px;
}

.entrance-button,
.slider-button,
.basket a,
.button,
.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.order-button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 0;
}

.search-button,
.entrance,
.basket a,
.basket.active a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.button,
.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.order-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-promo {
  padding-left: 24px;
  padding-right: 25px;
}

.catalog-link,
.delivery-link,
.companyinfo-link {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 7px 14px 7px 14px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, .2);
  text-decoration-color: rgba(255, 255, 255, .2);
}

.submenu li:first-of-type {
  border-bottom: 1px solid #d1d0ce; /* что это */
}

.time,
.submenu a,
.basket-span,
.entrance-span {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.user-search-box a,
.entrance,
.basket a {
  background-color: rgba(255, 255, 255, .2);
}

.submenu a,
.user-box a,
.basket a,
.basket-item,
.basket-popup p,
.features-item,
h1,
.blog-news a,
.blog-news h3,
.head-office p,
.feedbackform b {
  color: #323232;
}

.submenu li:first-child,
.time {
  font-weight: bold;
}

.time {
  display: block;
  margin-bottom: 3px;
}

.submenu li:first-child > a {
  border-radius: 4px 4px 0 0;
}

.submenu li:last-child > a {
  border-radius: 0 0 4px 4px;
}

.catalog-link:hover,
.delivery-link:hover,
.companyinfo-link:hover,
.site-navigation li:hover .catalog-link,
.catalog-link:focus,
.delivery-link:focus,
.companyinfo-link:focus {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 16px;
  outline: none;
  text-decoration: none;
}

.catalog-link:active,
.delivery-link:active,
.companyinfo-link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border-radius: 16px;
  padding: 7px 14px;
  text-decoration: none;
  color: #323232;
}

.catalog-link,
.delivery-link,
.companyinfo-link {
  position: relative;
}

.submenu {
  position: absolute;
  display: none;
  top: 70%;
  z-index: 1;
  margin-top: 5px;
  left: -5px;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.submenu a {
  display: block;
}

.site-navigation-news {
  padding: 9px 10px 10px 20px;
}

.site-navigation-submenu {
  padding: 10px 10px 8px 20px;
}

.site-navigation-submenu-sorbet {
  padding: 8px 10px 8px 20px;
}

.site-navigation-submenu-ice {
  padding: 7px 10px 8px 20px;
}

.site-navigation-submenu-last {
  padding: 6px 10px 14px 20px;
}

.site-navigation > li:hover .submenu {
  display: block;
}

.opener {
  background-color: #d07058;
  border-radius: 16px;
  padding: 7px 14px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.submenu .active a {
  background-color: #d07058;
  border-radius: 0;
}

.submenu a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.submenu a:focus,
.submenu a:active {
  background-color: #f6b5a5;
  border-radius: 0;
  outline: none;
}

.search-button {
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 4px;
}

a.entrance {
  padding: 4px 15px 6px 45px;
  border-radius: 16px;
}

.icon-entrance {
  width: 21px;
  height: 19px;
  position: absolute;
  right: 55px;
  bottom: 6px;
}

.icon-loupe {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 7px;
  bottom: 7px;
}

.icon-basket-red {
  width: 21px;
  height: 20px;
  position: absolute;
  right: 81px;
  top: 7px;
}

.basket a {
  padding: 8px 35px 8px 45px;
  border-radius: 16px;
  color: #fff;
}

.basket {
  pointer-events: none;
}

.basket.active {
  pointer-events: auto;
}

.basket.active a {
  padding: 8px 16px 9px 44px;
  border-radius: 16px;
  background-color: rgba(248, 247, 244, .99);
  color: #000;
}

.order-button {
  padding-left: 15px;
  padding-right: 15px;
}

.login:hover .entrance,
.entrance:focus {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 16px;
  outline: none;
}

.login:hover .entrance-span,
.entrance:focus .entrance-span {
  color: #323232;
}

.user-box {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 19px 16px 19px 19px;
  border-radius: 4px;
  width: 277px;
  right: 0;
  top: 100%;
  z-index: 1;
}

.user-box p {
  margin: 0 0 10px;
}

.login:hover .user-box {
  display: block;
}

a.entrance .icon {
  fill: #fff;
}

.login:hover .icon,
.entrance:focus .icon {
  fill: #000;
}

.flex-header-first-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 0 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation img {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 13px 0 0 0;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.site-navigation > li {
  padding: 0;
  margin: 0;
  position: relative;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-search input[type="search"] {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  box-sizing: border-box;
  width: 311px;
  padding: 10px 10px 12px 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  height: 44px;
}

.user input[type="text"]::-webkit-input-placeholder,
.user input[type="password"]::-webkit-input-placeholder,
.user-search input[type="search"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999;
}

.user input[type="text"]::-moz-placeholder,
.user input[type="password"]::-moz-placeholder,
.user-search input[type="search"]::-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.user input[type="text"]:-moz-placeholder,
.user input[type="password"]:-moz-placeholder,
.user-search input[type="search"]::-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.user input[type="text"]:-ms-input-placeholder,
.user input[type="password"]:-ms-input-placeholder,
.user-search input[type="search"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999;
}

.user input[type="text"],
.user input[type="password"] {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  box-sizing: border-box;
  width: 242px;
  padding: 9px 10px 10px 14px;
  border-radius: 5px;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d2;
  margin: 0 0 10px 0;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.user input[type="text"]:hover,
.user input[type="password"]:hover,
.user-search input[type="search"]:hover {
  border: 1px solid #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

.user input[type="text"]:focus,
.user input[type="password"]:focus,
.user-search input[type="search"]:focus {
  border: 1px solid #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
}

.user-box a {
  font-size: 13px;
  line-height: 24px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(173, 172, 170, .5);
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.user-search-box {
  position: relative;
}

.search-popup {
  display: none;
  position: absolute;
  padding: 20px 15px;
  right: 0;
  top: 100%;
  border-radius: 4px;
  width: 340px;
  box-sizing: border-box;
  z-index: 1;
}

.user-search-box:hover .search-popup {
  display: block;
}

.user-search-box:hover .search-button,
.search-button:focus {
  background-color: #f8f7f4;
  color: #323232;
  outline: none;
}

.search-button .icon-loupe {
  fill: #fff;
}

.user-search-box:hover .icon-loupe,
.search-button:focus .icon-loupe {
  fill: #000;
}

.search-popup,
.user-box,
.basket-popup {
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.user-box a:hover,
.user-box a:focus,
.user-box a:active {
  color: #e84d37;
  border-bottom: 1px solid;
  border-bottom-color: rgba(232, 77, 55, .3);
  outline: none;
}

.basket a,
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.basket a,
.entrance-span,
.basket-span {
  font-weight: 500;
}

.basket-item {
  font-size: 13px;
  line-height: 16px;
}

.login,
.basket,
.basket.active,
.user-search-box {
  padding: 0 0 0 0;
  margin: 0 0 0 10px;
  position: relative;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  padding: 13px 0 0 0;
}

.contact-catalog {
  margin-top: -11px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.contact-catalog p {
  text-align: right;
  margin: 0;
}

.basket-popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  right: 0;
  width: 540px;
  padding: 20px 15px;
  border-radius: 4px;
}

.button-delete {
  border: none;
  background-color: transparent;
  padding: 0;
}

.basket-item {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #cacac7;
}

.basket-item-delete,
.basket-item-img {
  padding: 1px 13px 20px 1px;
}

.main-cell {
  box-sizing: border-box;
  width: 232px;
  padding: 1px 15px 19px 1px;
}

.basket-price {
  padding: 0 15px 26px 18px;
}

.total-sum {
  padding: 1px 1px 27px 14px;
}

.basket .bg-icon-basket-red {
  fill: transparent;
}

.basket .icon-basket-red {
  fill: #fff;
}

.basket.active .bg-icon-basket-red,
.basket:hover .bg-icon-basket-red {
  fill: #e84d37;
}

.basket.active .icon-basket-red,
.basket:hover .icon-basket-red,
.basket a:focus .icon-basket-red {
  fill: #343434;
}

.basket:hover .basket-popup {
  display: block;
}

.basket a:hover,
.basket a:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.basket-item span {
  color: #999;
}

.basket-popup p {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
  margin: 12px 0 13px 0;
}

.button-promo,
.button,
.button-subscribe,
.button-fbform,
.feedback-button,
.entrance-button,
.order-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.order-button,
.user button,
.button-subscribe,
.feedback-button,
.order-button,
.button,
.order-button {
  color: #fff;
}

.button-promo,
.button-subscribe,
.button-fbform,
.feedback-button,
.slider-button {
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}

.button,
.button-fbform {
  border-radius: 16px/22px;
}

.button-subscribe,
.feedback-button {
  border-radius: 20px/22px;
}

.entrance-button,
.button,
.order-button {
  box-shadow: 0 1px 2px 0 #ac1000;
}

.entrance-button {
  border-radius: 16px/23px;
  padding: 12px 25px 10px 25px;
  margin-right: 20px;
}

.button-promo {
  border-radius: 23px;
}

.order-button {
  border-radius: 19px/22px;
  margin-left: 337px;
  cursor: pointer;
}

.entrance-button:hover,
.order-button:hover,
.button-promo:hover,
.button:hover,
.button-subscribe:hover,
.button-fbform:hover,
.feedback-button:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 0 #ac1000;
  cursor: pointer;
}

.entrance-button:focus,
.order-button:focus,
.button-promo:focus,
.button:focus,
.button-subscribe:focus,
.button-fbform:focus,
.feedback-button:focus {
  color: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px 0 #ac1000;
  outline: none;
}

.entrance-button:active,
.order-button:active,
.button-promo:active,
.button:active,
.button-subscribe:active,
.button-fbform:active,
.feedback-button:active {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%), -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%), linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.flex-header-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
}

.brcrum-first-link,
.brcrum-second-link {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, .2);
}

.brcrum-first-link {
  margin: 0 7px 0 0;
}

.brcrum-second-link {
  margin: 0 7px;
}

.breadcrumbs-current {
  margin: 0 0 0 7px;
}

.flex-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
  content: "\00BB";
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 188, 158, .3);
  outline: none;
}

.phone:hover,
.phone:focus,
.phone:active {
  color: #ffbc9e;
  outline: none;
}

/* header and some common style */

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #fff;
}

.slider-slides {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/1slide.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/2slide.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/3slide.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/2slide.png");
}

.site-wrapper::after {
  background-image: url("../img/3slide.png");
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244, .4);
  outline: none;
}

.slider-slides p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  margin: 0;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background: #f26843;
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 32px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  max-width: 560px;
}

.slider-slides a:hover,
.slider-slides a:focus {
  color: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 100%), linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
  outline: none;
}

.slider-slides a:active {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%), -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%), linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.promo-item-1 h3,
.promo-item-2 h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0 0 15px 0;
  max-width: 520px;
}

.promo-item-1 {
  background-color: #b73b60;
  background-image: url("../img/rastberry.jpg");
  border-radius: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-item-2 {
  background-color: #421e0b;
  background-image: url("../img/shokko.jpg");
  border-radius: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  max-width: 520px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.promo-item-1,
.promo-item-2 {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 17px 18px 25px 19px;
  box-sizing: border-box;
  margin: 0 0 40px 0;
}

.promo-item-1 p,
.promo-item-2 p {
  margin: 0 0 45px 0;
}

.button-promo {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  max-width: 250px;
}

.item-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, .2);
}

.button {
  position: absolute;
  bottom: 21px;
  left: 50%;
  min-width: 72%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-left: 21px;
  padding-right: 21px;
}

.products-line-price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
  margin: 0;
  top: 208px;
  left: 0;
  z-index: 6;
}

.currency {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
  margin-left: 3px;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.products-line-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 21px 0;
}

.products-line-list img {
  border-radius: 50%;
}

.product-item-hit,
.product-item {
  position: relative;
  width: 267px;
  text-align: center;
  padding: 0;
}

.product-item-hit {
  margin: 0;
}

.product-item {
  margin: 0 0 22px 0;
}

.product-item-hit:hover,
.product-item:hover {
  z-index: 7;
}

.product-item-hit::before {
  content: "";
  position: absolute;
  z-index: 7;
  top: -2px;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-item-hover {
  display: none;
  box-sizing: border-box;
  position: absolute;
  padding: 342px 13px 20px 13px;
  top: -6px;
  left: -13px;
  bottom: -58px;
  width: 293px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 5;
}

.product-item:hover .product-item-hover,
.product-item-hit:hover .product-item-hover {
  display: block;
}

.product-link {
  position: relative;
  z-index: 6;
}

.products-line-list h3 {
  margin-top: 4px;
  padding: 0 5px;
}

.item-link:hover,
.item-link:focus,
.item-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 188, 158, .3);
  outline: none;
}

h1,
.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h1 {
  margin: 0 0 20px 0;
}

.features {
  background-color: #ece1c9;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 14px;
  padding: 24px 20px 0 20px;
  margin: 0 0 40px 0;
}

.features-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-list li {
  box-sizing: border-box;
  width: 540px;
  padding: 0 0 0 57px;
  -ms-flex-negative: 1.3;
  position: relative;
  flex-shrink: 1.3;
}

.features-list li:not(.eco):not(.thermometer) {
  margin: 0 0 22px 0;
}

.eco,
.thermometer {
  margin: 0 0 25px 0;
}

.features-item img {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: -11px;
}

.blog-news a {
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0 0 0;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
  outline: none;
}

.blog-news {
  background-color: #fff;
  background-image: url("../img/strawberry.jpg");
  background-position: 173px -37px;
  background-repeat: no-repeat;
  border-radius: 14px;
  padding: 23px 250px 23px 19px;
}

.flex-col-news-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.blog-news,
.subscribe-form {
  width: 560px;
  box-sizing: border-box;
  margin: 0 0 40px 0;
}

.blog-news h3 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.subscribe-form p:not(.subscribe-input) {
  margin: 0 0 36px 0;
}

.subscribe-input {
  margin: 0;
}

.subscribe-gllacy label {
  color: #5a5a5a;
}

.subscribe-gllacy input[type="email"] {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  box-sizing: border-box;
  width: 368px;
  padding: 11px 10px 12px 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  height: 44px;
  margin-right: 7px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.subscribe-gllacy input[type="email"]::-webkit-input-placeholder {
  font-weight: 400;
  color: #999;
}

.subscribe-gllacy input[type="email"]::-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.subscribe-gllacy input[type="email"]:-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.subscribe-gllacy input[type="email"]:-ms-input-placeholder {
  font-weight: 400;
  color: #999;
}

.subscribe-gllacy input[type="email"]:hover {
  border: 1px solid #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

.subscribe-gllacy input[type="email"]:focus {
  border: 2px solid #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
}

.button-subscribe {
  padding-left: 19px;
  padding-right: 19px;
}

.subscribe-form {
  border-radius: 14px;
  padding: 5px;
  background-color: #92cdff;
  background: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-form-inner {
  background-color: #f8f7f4;
  border-radius: 14px;
  padding: 29px 13px 35px 20px;
  background-clip: padding-box;
  background-size: cover;
}

.contacts {
  position: relative;
  margin: 0 0 18px 0;
  width: 100%;
  height: 430px;
  background-image: url(../img/map.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 2;
  top: 0;
  left: 0;
}

.head-office {
  position: absolute;
  width: 300px;
  box-sizing: border-box;
  border-radius: 14px;
  z-index: 2;
  top: 62px;
  left: 50%;
  padding: 30px 25px;
  margin-left: 270px;
  background-color: #fdfefe;
}

.head-office p {
  font-size: 14px;
  line-height: 20px;
}

.head-office-adress {
  margin: 0 97px 0 0;
}

.head-office b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.working-time {
  margin: 0 0 25px 0;
}

.head-office-box {
  margin: 0;
}

.adress-box {
  margin: 0 0 17px 0;
}

.head-office-box b {
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  margin: 6px 0 2px 0;
  vertical-align: middle;
}

.pin {
  position: absolute;
  z-index: 2;
  top: 142px;
  left: 280px;
}

.current-item {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: -9px 0 26px 0;
}

.type button,
.pagination-list a {
  font-size: 16px;
  line-height: 18px;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 42px 0;
}

.flex-type-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 14px 0;
}

.flex-type-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-button {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #fbfcfb;
  margin: 22px 15px -2px 15px;
  padding: 3px 28px 3px 28px;
  border-color: #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.type-button:hover,
.type-button:focus {
  outline: none;
  border: none;
  color: #323232;
  background-color: #fbfcfb;
}

.type-button:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 dimgray;
}

.sort-type,
.fatness-type,
.filler-type,
.price-type {
  border: none;
  padding: 0;
}

.sort-type {
  margin: 0 14px 0 0;
}

.sort-box {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 6px 16px;
}

.sort-select {
  position: relative;
  border: none;
  padding: 9px 16px 9px 15px;
  border-radius: 20px;
  width: 193px;
  background-color: rgba(255, 255, 255, .2);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 10px 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-select::-ms-expand {
  display: none;
}

.sort-select:hover,
.sort-select:focus {
  color: #323232;
  background-image: url(../img/icon-down-dir-black.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 10px 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-select option {
  color: #323232;
}

.price-box {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 6px 16px;
}

.price-type {
  margin: 0 13px 0 0;
}

.range-controls {
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, .2);
  padding: 17px 22px 16px 23px;
  border-radius: 20px;
  cursor: pointer;
}

.range-controls .scale {
  height: 4px;
  background: rgba(248, 247, 244, .5);
  width: 175px;
}

.range-controls .bar {
  height: 4px;
  background: #f8f7f4;
  margin-left: 17%;
  width: 55%;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 0 0 1px #fff;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 61%;
}

.fatness-box {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 6px 14px;
}

.fatness-type div {
  background-color: rgba(255, 255, 255, .2);
  padding: 7px 0 7px 15px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-mark {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  background-image: url(../img/radio-off.svg);
  background-position: center center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  opacity: .8;
  cursor: pointer;
}

input[type="radio"]:focus + .radio-mark,
input[type="radio"]:checked + .radio-mark {
  background-image: url(../img/radio-on.svg);
  background-position: center center;
  background-size: 22px 22px;
  background-size: contain;
  background-repeat: no-repeat;
}

input[type="radio"]:focus + .radio-mark {
  opacity: .7;
}

.fatness:hover .radio-mark {
  opacity: 1;
}

input[type="radio"]:disabled + .radio-mark {
  opacity: .4;
}

.filler-box {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 6px 13px;
}

.fatness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 19px 0 0;
}

.fatness-label {
  margin: 0 0 0 6px;
}

.filler-type div {
  background-color: rgba(255, 255, 255, .2);
  padding: 8px 0 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filler {
  font-size: 16px;
  line-height: 18px;
  margin: 0 18px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 23px 0 0;
}

.filler-label {
  margin: 0 0 0 6px;
}

.checkbox-mark {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 20px;
  background-image: url(../img/checkbox-off.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: .8;
  cursor: pointer;
}

input[type="checkbox"]:focus + .checkbox-mark {
  opacity: .7;
}

input[type="checkbox"]:focus + .checkbox-mark,
input[type="checkbox"]:checked + .checkbox-mark {
  background-image: url(../img/checkbox-on.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.filler:hover .checkbox-mark {
  opacity: 1;
}

input[type="checkbox"]:disabled + .checkbox-mark {
  opacity: .4;
}

.feedbackform {
  position: fixed;
  display: none;
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 21px 24px;
  border-radius: 14px;
  width: 476px;
  box-sizing: border-box;
  top: 120px;
  left: 50%;
  padding: 0 23px 70px;
  z-index: 10;
  margin-left: -237px;
}

.feedbackform-close {
  position: absolute;
  top: 15px;
  left: 437px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedbackform-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 17px;
}

.feedbackform b {
  font-size: 24px;
  line-height: 28px;
}

.feedbackform input,
.feedbackform textarea {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.feedbackform input[type="text"]:hover,
.feedbackform input[type="email"]:hover,
.feedbackform textarea:hover {
  border: 1px solid #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

.feedbackform input[type="text"]:focus,
.feedbackform input[type="email"]:focus,
.feedbackform textarea:focus {
  border: 1px solid #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
}

.feedbackform input[type="text"],
.feedbackform input[type="email"] {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  box-sizing: border-box;
  width: 267px;
  padding: 11px 10px 12px 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  height: 44px;
  margin: 0 0 20px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.feedbackform input[type="text"]::-webkit-input-placeholder,
.feedbackform input[type="email"]::-webkit-input-placeholder,
.feedbackform textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999;
}

.feedbackform input[type="text"]::-moz-placeholder,
.feedbackform input[type="email"]::-moz-placeholder,
.feedbackform textarea::-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.feedbackform input[type="text"]:-moz-placeholder,
.feedbackform input[type="email"]:-moz-placeholder,
.feedbackform textarea:-moz-placeholder {
  font-weight: 400;
  color: #999;
}

.feedbackform input[type="text"]:-ms-input-placeholder,
.feedbackform input[type="email"]:-ms-input-placeholder,
.feedbackform textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999;
}

.feedbackform textarea {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 154px;
  padding: 9px 10px 12px 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin: 0 0 20px 0;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.button-fbform {
  padding-left: 27px;
  padding-right: 26px;
}

.feedback-button {
  position: absolute;
  padding-left: 21px;
  padding-right: 21px;
  left: 316px;
  cursor: pointer;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 41px 0 30px 0;
  padding: 0;
}

.splitter {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  margin: 0 0 19px 0;
}

.pagination-item,
.pagination-item-current {
  margin-right: 5px;
}

.pagination-prev {
  margin-right: 12px;
}

.pagination-next {
  margin-left: 10px;
}

.pagination-current {
  display: block;
  color: #323232;
  background-color: #fff;
}

.pagination-list a,
.pagination-current {
  width: 25px;
  height: 25px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, .2);
  outline: none;
}

.pagination-list a:active {
  color: #323232;
  background-color: #fff;
}

.pagination-prev a {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 25px;
  background: url("../img/icon-right-small.svg") no-repeat center;
  background-size: 8px 12px;
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  opacity: .4;
}

.pagination-next a {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 25px;
  background: url("../img/icon-right-small.svg") no-repeat center;
  background-size: 8px 12px;
  opacity: 1;
}

/*main*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0 0 0;
  margin: 0;
}

.social li {
  margin: 0 13px 0 0;
}

.social a {
  display: block;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.social .icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, .8);
}

.social a:hover .icon,
.social a:focus .icon {
  fill: #fff;
}

.social a:active .icon {
  fill: rgba(255, 255, 255, .9);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-link {
  padding: 15px 0 0 23px;
  margin: 0;
  width: 335px;
}

.info-link a:hover,
.info-link a:focus,
.info-linkt a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 188, 158, .3);
  outline: none;
}

.info-link-1::before {
  content: "";
  position: absolute;
  right: 147px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-link li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
}

.info-link li:not(:last-of-type) {
  width: 42%;
}

.info-link li:first-child {
  font-weight: bold;
}

.info-link a,
.htmlacademy-logo a {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, .2);
}

.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-logo a:hover,
.htmlacademy-logo a:focus,
.htmlacademy-logo a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 188, 158, .3);
  outline: none;
}

/*footer*/

.modal-show {
  display: block;
  -webkit-animation: bounce .6s;
  animation: bounce .6s;
}

.modal-error {
  -webkit-animation: shake .6s;
  animation: shake .6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
